@font-face {
  font-family: HKGroteskBold;
  src: url(fonts/HKGrotesk-Bold.otf);
}

@font-face {
  font-family: HKGroteskBlack;
  src: url(fonts/HKGrotesk-Black.otf);
}

@font-face {
  font-family: HKGroteskRegular;
  src: url(fonts/HKGrotesk-Regular.otf);
}

@font-face {
  font-family: HKGroteskLight;
  src: url(fonts/HKGrotesk-Light.otf);
}

@media (max-width: 1920px) {
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: HKGroteskBlack, Arial, Helvetica, sans-serif;
    font-size: 12pt;
  }
  body {
    overflow-x: hidden;
  }
  h3 {
    font-size: 35pt;
  }
  .nav {
    -webkit-filter: drop-shadow(0px 1px 4px rgba(128, 128, 128, 0.189));
            filter: drop-shadow(0px 1px 4px rgba(128, 128, 128, 0.189));
    background: white;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 17vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.7s height ease;
    transition: 0.7s height ease;
    z-index: 100;
  }
  .navCont {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .navCont > div:nth-of-type(1) {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navCont > div > img {
    width: 130px;
    height: auto;
    cursor: pointer;
  }
  .nav-links li {
    list-style: none;
    font-weight: bold;
    height: 70px;
  }
  .nav-links li a {
    color: black;
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12pt;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links li a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 70%;
    left: 0;
    background: #1D1C1D;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .nav-links li a:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  .fa {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  a:hover .fa {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .links, .nav-links > ul li:nth-of-type(1) a, .nav-links > ul li:nth-of-type(2) > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navCont > div:nth-of-type(2) {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button, .navCont > div:nth-of-type(3) div button:nth-of-type(1), .navCont > div:nth-of-type(3) div button:nth-of-type(2), header .headerCont button, .meetKitchen .meetKitCont div:nth-of-type(1) button:nth-of-type(1), .meetKitchen .meetKitCont div:nth-of-type(1) button:nth-of-type(2) {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 9pt;
    cursor: pointer;
  }
  .navCont > div:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .navCont > div:nth-of-type(3) div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navCont > div:nth-of-type(3) div button:nth-of-type(1) {
    color: #1D1C1D;
    background: white;
    border: 2px solid #1D1C1D;
    font-family: 11pt;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .navCont > div:nth-of-type(3) div button:nth-of-type(1):hover {
    color: white;
    background: #1D1C1D;
  }
  .navCont > div:nth-of-type(3) div button:nth-of-type(2) {
    color: white;
    background: #1D1C1D;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    border: 2px solid transparent;
  }
  .navCont > div:nth-of-type(3) div button:nth-of-type(2):hover {
    border: 2px solid black;
    color: #1D1C1D;
    background-color: white;
  }
  /*HAMBURGER ICON*/
  .hamburger > div {
    background-color: #1D1C1D;
    height: 5px;
    width: 35px;
    margin: 5px;
  }
  #hamburgerCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
  .hamburger {
    display: none;
  }
  /*MOBILE MENU*/
  .mobileMenu {
    display: none;
  }
  /*HEADER*/
  header {
    margin-top: 35vh;
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .headerCont {
    text-align: center;
    width: 92%;
  }
  header .headerCont p:nth-of-type(1) {
    font-size: 12pt;
  }
  header .headerCont h1 {
    font-size: 55pt;
    color: #1D1C1D;
    width: 90%;
    line-height: 1em;
  }
  header .headerCont p:nth-of-type(2) {
    font-size: 15pt;
    font-family: HKGroteskRegular;
  }
  header .headerCont button {
    color: white;
    background-color: #ED553B;
    letter-spacing: 1px;
    font-family: HKGroteskBold;
    padding: 15px 35px;
    cursor: pointer;
    border: 2px solid transparent;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease;
  }
  header .headerCont button:hover {
    background-color: white;
    color: #ED553B;
    border: 2px solid #ED553B;
  }
  header .headerCont p:nth-of-type(3) {
    font-size: 9pt;
    font-family: HKGroteskRegular;
    margin-top: -20px;
  }
  header .headerCont p {
    width: 50%;
  }
  .product {
    position: fixed;
    top: 12%;
    height: 78vh;
    width: 350px;
    opacity: 0;
    background-color: white;
    z-index: 200;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    left: 22.5%;
    border-radius: 5px;
    -webkit-filter: drop-shadow(5px 10px 15px rgba(128, 128, 128, 0.133));
            filter: drop-shadow(5px 10px 15px rgba(128, 128, 128, 0.133));
    padding-top: 15px;
    border: 1px solid gray;
  }
  .product ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .product ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
    border-left: transparent 0px solid;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    padding: 1px 10px;
  }
  .product ul li span:nth-of-type(2) {
    color: gray;
    font-family: HKGroteskRegular;
  }
  .product ul li span {
    line-height: 1.5rem;
  }
  .product ul li:hover {
    background-color: rgba(128, 128, 128, 0.099);
    border-left: transparent 5px solid;
  }
  /*HERO IMAGES*/
  .heroImages {
    position: relative;
    top: 90vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .heroImages #hero-before,
  .heroImages #hero-after {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .heroImages #hero-before img,
  .heroImages #hero-after img {
    width: 100%;
  }
  .heroImages div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .heroImages div:nth-of-type(2) hr {
    background: rgba(128, 128, 128, 0.355);
    border: none;
    width: 1.3px;
    height: 100px;
  }
  .heroImages div:nth-of-type(2) span {
    color: #1D1C1D;
  }
  /*Cookies*/
  .cookie {
    background: #1D1C1D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 25px 20px;
    position: fixed;
    top: 98%;
    left: 98%;
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    z-index: 202;
    width: 400px;
    border-radius: 5px;
  }
  .cookie p {
    color: white;
    font-family: HKGroteskRegular;
    width: 98%;
    font-size: 12pt;
    line-height: 1.4rem;
  }
  .cookie p a {
    color: white;
    font-family: HKGroteskRegular;
    font-size: 12pt;
  }
  .cookie div button {
    padding: 10px 10px;
    background: white;
    color: #1D1C1D;
    border: none;
    border-radius: 3px;
    font-family: HKGroteskBold;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    cursor: pointer;
  }
  .cookie div button:hover {
    background: #1D1C1D;
    color: white;
    border: 2px solid white;
  }
  .testimonials {
    position: relative;
    top: 100vh;
    background: #F8F6F4;
    height: 35vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 27px;
  }
  .testimonials h3 {
    font-size: 15pt;
  }
  .testimonials div > div > img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    width: 110px;
  }
  .testimonials div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
  }
  .testimonials div div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .testimonials div div span {
    font-size: 9pt;
    color: gray;
    font-family: HKGroteskRegular;
  }
  /*Meet Kitchen*/
  .meetKitchen {
    position: relative;
    top: 100vh;
    height: 150vh;
    padding-top: 150px;
    width: 100%;
  }
  .meetKitchen .meetKitCont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .meetKitchen .meetKitCont h3 {
    font-size: 35pt;
    width: 50%;
    text-align: center;
  }
  .meetKitchen .meetKitCont p {
    font-family: HKGroteskRegular;
    font-size: 15pt;
    width: 50%;
    text-align: center;
  }
  .meetKitchen .meetKitCont div:nth-of-type(1) {
    margin-top: 40px;
    margin-bottom: -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .meetKitchen .meetKitCont div:nth-of-type(1) button:nth-of-type(1) {
    padding-bottom: 15px;
    border: 2px solid #1D1C1D;
    background: #1D1C1D;
    color: white;
    font-family: HKGroteskBold;
    border-radius: 5px 0px 0px 0px;
  }
  .meetKitchen .meetKitCont div:nth-of-type(1) button:nth-of-type(2) {
    padding-bottom: 15px;
    background: white;
    color: #1D1C1D;
    border: 2px solid #1D1C1D;
    font-family: HKGroteskBold;
    border-radius: 0px 5px 0px 0px;
  }
  .meetKitchen .meetKitCont div:nth-of-type(2) {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
  }
  .meetKitchen img {
    -webkit-filter: drop-shadow(3px 11px 10px rgba(128, 128, 128, 0.268));
            filter: drop-shadow(3px 11px 10px rgba(128, 128, 128, 0.268));
  }
  #agencyViewImg {
    width: 70%;
    display: block;
  }
  #clientViewImg {
    width: 70%;
    display: none;
  }
  .info {
    position: relative;
    top: 115vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #F8F6F4;
  }
  .info div p {
    text-align: center;
    color: #1D1C1D;
    font-size: 25pt;
    width: 60%;
    background: #F8F6F4;
    padding: 85px 0px 55px 0px;
    width: 60%;
  }
  .info #roughBorder {
    margin-bottom: 30px;
    max-width: 100%;
  }
  .howKitchenHelps {
    padding: 140px 0px;
    background: white;
    position: relative;
    top: 111vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .howKitchenHelps #hkH1 {
    width: 100%;
  }
  .howKitchenHelps #hkH1 p {
    text-align: center;
  }
  .howKitchenHelps #hkH1 h3 {
    text-align: center;
  }
  .howKitchenHelps #hkH2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 50px;
    padding: 0px 120px;
    width: 100%;
  }
  .howKitchenHelps #hkH2 img {
    border-radius: 5px;
    width: 550px;
    height: auto;
  }
  .howKitchenHelps #hkH2 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .howKitchenHelps #hkH2 div h3 {
    width: 80%;
  }
  .howKitchenHelps #hkH2 div h3 > em {
    font-size: 35pt;
  }
  .howKitchenHelps #hkH2 div p {
    font-family: HKGroteskRegular;
    font-size: 15pt;
  }
  .howKitchenHelps #hkH2 div div > h4 {
    font-size: 15pt;
  }
  .howKitchenHelps #hkH2 div div > ul {
    margin-top: -15px;
  }
  .howKitchenHelps #hkH2 div div > ul li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    padding: 15px 0px;
  }
  .howKitchenHelps #hkH2 div div > ul li span {
    font-size: 15pt;
    font-family: HKGroteskRegular;
  }
  .howKitchenHelps #hkH2 #hkH2Learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .howKitchenHelps #hkH2 #hkH2Learn a {
    color: #ED553B;
  }
  .howKitchenHelps #hkH2 #hkH2Learn a:hover {
    text-decoration: none;
  }
  .howKitchenHelps #hkH2 #hkH2Learn a:hover + i {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .howKitchenHelps #hkH2 #hkH2Learn i {
    text-decoration: none;
    color: #ED553B;
  }
  .blockTestimonial {
    position: relative;
    top: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px;
  }
  .blockTestimonial div:nth-of-type(1) {
    background: white;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .blockTestimonial div:nth-of-type(1) img {
    width: 80px;
  }
  .blockTestimonial div:nth-of-type(2) {
    width: 70%;
    border: 1px solid #80808072;
    padding: 55px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    border-radius: 5px;
  }
  .blockTestimonial div:nth-of-type(2) h4 {
    text-align: center;
    font-size: 15pt;
    width: 75%;
  }
  .blockTestimonial div:nth-of-type(2) p {
    width: 50%;
    text-align: center;
    font-family: HKGroteskRegular;
  }
  #bottomFoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #bottomFoot span {
    font-family: HKGroteskRegular;
  }
}

@media (max-width: 1170px) {
  .product {
    display: none;
  }
  .heroImages {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .heroImages div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 90%;
  }
  .heroImages div:nth-of-type(2) hr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.182);
  }
  .heroImages div:nth-of-type(2) span {
    background: white;
    padding: 10px;
  }
  header .headerCont h1 {
    font-size: 35pt;
  }
  .navCont {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0px 15px;
  }
  .hamburger {
    display: block;
  }
  .ham1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .ham2 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .overflow {
    height: 100%;
    overflow: hidden;
  }
  .ham1Act {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .ham2Act {
    -webkit-transform: translate(0px, -10px) rotate(-45deg);
            transform: translate(0px, -10px) rotate(-45deg);
  }
  #nav-id ul {
    display: none;
  }
  #nav-id button {
    display: none;
  }
  .mobileMenu {
    position: fixed;
    height: 83vh;
    width: 100%;
    top: 20vh;
    padding-top: 3vh;
    z-index: 1;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    background: white;
  }
  .mobileMenuFS {
    display: none;
  }
  .mobileMenuCont {
    width: 90%;
  }
  .mobileMenuCont .prodScroll > span,
  .mobileMenuCont ul > li > span,
  .mobileMenuCont div {
    color: #1D1C1D;
    font-size: 20pt;
  }
  .mobileMenuCont .prodScroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .mobileMenuCont div:not(div:nth-of-type(1)),
  .mobileMenuCont .prodCont {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.163);
    padding: 15px 10px;
  }
  .mobileMenuCont div:nth-of-type(1) {
    padding: 10px 5px;
  }
  .mobileMenuCont .prodUl {
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: 0.7 ease;
    transition: 0.7 ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding-left: 5px;
  }
  .mobileMenuCont .prodUl li > span {
    font-size: 12pt;
  }
  .mobileMenuCont .prodUl li > span:nth-of-type(2) {
    font-family: HKGroteskRegular;
  }
  .mobileMenuCont .prodUl li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer;
  }
  .mobileMenuCont .prodUl li span:nth-of-type(1):hover {
    text-decoration: underline;
  }
  .mobileMenuCont #menuBtn {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .mobileMenuCont #menuBtn button {
    border-radius: 3px;
  }
  .mobileMenuCont #menuBtn button:nth-of-type(1) {
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border: 2px solid #1D1C1D;
  }
  .mobileMenuCont #menuBtn button:nth-of-type(1):hover {
    background: #1D1C1D;
    color: white;
  }
  .mobileMenuCont #menuBtn button:nth-of-type(2) {
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    border: none;
    color: white;
    background: #1D1C1D;
  }
  .mobileMenuCont #menuBtn button:nth-of-type(2):hover {
    background: white;
    color: #1D1C1D;
    border: 2px solid #1D1C1D;
  }
  .mobileMenuCont #gademo {
    border: none;
  }
  .testimonials > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 20px;
  }
  .testimonials {
    height: 65vh;
  }
  .testimonials div div:nth-of-type(1) > img {
    width: 90px;
    height: auto;
  }
  .testimonials div div:nth-of-type(2) > img {
    width: 125px;
    height: auto;
  }
  .testimonials div div:nth-of-type(4) > img {
    width: 150px;
    height: auto;
  }
  .testimonials div > div > span {
    margin-top: -5px;
  }
  #agencyViewImg {
    width: 100%;
  }
  #clientViewImg {
    width: 100%;
  }
  .howKitchenHelps {
    width: 100%;
  }
  .howKitchenHelps #hkH1 {
    width: 100%;
  }
  .howKitchenHelps #hkH2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .howKitchenHelps #hkH2 div h5 {
    text-align: center;
  }
  .howKitchenHelps #hkH2 div h3 {
    text-align: center;
    width: 100%;
  }
  .howKitchenHelps #hkH2 div p {
    text-align: center;
  }
  .howKitchenHelps #hkH2 div div > h4 {
    text-align: center;
  }
  .howKitchenHelps #hkH2 div div > ul > li {
    text-align: center;
    width: 100%;
  }
  .howKitchenHelps #hkH2 div #hkH2Learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */